<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="org.example.testComponents.Ilisteners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Submit order">
        <classes>
        <class name="org.example.tests.SubmitOrderTest">
            <methods>
                <include name="submitOrder"/>
                <include name="checkOrders"/>
            </methods>
        </class>
        </classes>
    </test>
    <test name="Error Validation">
        <classes>
            <class name="org.example.tests.ErrorValidationTest">
                <methods>
                    <include name="productErrorValidation"/>
                    <include name="loggingErrorValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>